@font-face {
    font-family: "DroidSerifRegular";
    src: url("../fonts/DroidSerifRegular/DroidSerifRegular.eot");
    src: url("../fonts/DroidSerifRegular/DroidSerifRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/DroidSerifRegular/DroidSerifRegular.woff") format("woff"),
    url("../fonts/DroidSerifRegular/DroidSerifRegular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "DroidSerifItalic";
    src: url("../fonts/DroidSerifItalic/DroidSerifItalic.eot");
    src: url("../fonts/DroidSerifItalic/DroidSerifItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/DroidSerifItalic/DroidSerifItalic.woff") format("woff"),
    url("../fonts/DroidSerifItalic/DroidSerifItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoSlabRegular";
    src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot");
    src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlabRegular/RobotoSlabRegular.woff") format("woff"),
    url("../fonts/RobotoSlabRegular/RobotoSlabRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoSlabLight";
    src: url("../fonts/RobotoSlabLight/RobotoSlabLight.eot");
    src: url("../fonts/RobotoSlabLight/RobotoSlabLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlabLight/RobotoSlabLight.woff") format("woff"),
    url("../fonts/RobotoSlabLight/RobotoSlabLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MontserratBold";
    src: url("../fonts/MontserratBold/MontserratBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MontserratRegular";
    src: url("../fonts/MontserratRegular/MontserratRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}