@media screen and (max-width: 768px) {
/*About us*/
	.cicle-text {
		font-size: 96%;
	}
/*Our team*/
	.text-team {
	    padding: 0 13%;
    }

    .profile {
		margin: 0 9px;
	}

	.profile_all {
		margin: 0 -9px;
	}
}

@media screen and (max-width: 600px) {
/*About us*/
	.about-content_item {
		width: 100%;
	}

	.about-content_item-left {
    	margin-left: 0;
	}

	.cicle_about {
	    width: 25%;
	    padding-bottom: 25%;
	    float: right;
	    margin: 0 2% 0 0;
	}
	
	.cicle_about-left {
		margin: 0 2% 0 2%;
		float: left;
		margin-left: 0;
	}

	.text {
	    width: 73%;
	    text-align: left;
	    float: right;
	}

	.cicle_about-last {
	 	border: 7px solid #f1f1f1;
	    margin: 0;
	    width: 22%;
	    padding-bottom: 22%;
	 }

	.cicle-text {
		font-size: 96%;
		padding-top: 16%;
	}

	.text-right {
		text-align: left;
    	width: 73%;
    	float: right;
    	margin: 0;
	}

/*Our team*/
	.profile {
		margin: 0 9px;
		width: 40%;
	}

	.profile_all {
		margin: 0 -9px;
	}
}

@media screen and (max-width: 480px) {
/*About us*/
	.cicle-text-right {
		display: inline-block;
		text-transform: uppercase;
		padding-top: 9%;
	}

	.cicle-text {
		display: none;
	}

	.cicle_about-last {
		float: left;
	}

/*Our team*/
	.profile {
		margin: 0 4px;
		width: 80%;
	}

	.profile_all {
		margin: 0 -4px;
	}

	.text-team {
	    padding: 0 8%;
    }
}

@media screen and (max-width: 320px) {
/*About us*/
	.cicle-text-right {
		padding-top: 5%;
	}

	.cicle_about-last {
		border: 5px solid #f1f1f1;
	}

/*Our team*/
	.profile {
		margin: 0 4px;
		width: 90%;
	}

	.profile_all {
		margin: 0 -4px;
	}

	.text-team {
	    padding: 0 4%;
    }
}