.portfolio {
	padding: 40px 0;
	text-align: center;
	background: #f7f7f7;
	display: table;
    width: 100%;
}

.portfolio-container {
    display: table;
    margin: 0 auto;
}

.portfolio .portfolio-container .col-container {
    display: table;
    max-width: 1300px;
}

.portfolio .portfolio-container h2 {
	margin-top: 70px;
	color: #222;
	text-align: center;
}

.portfolio .portfolio-container .col-container .col {
	float: left;
    height: 380px; /* высота прямоугольников */
    margin: 20px; /* отступы сверху=снизу=слева=справа=25px*/
}

.portfolio .portfolio-container .col-container .col figure {
    background-color: white;
    height: 100%;
}

.portfolio .portfolio-container .col-container .col div {
    margin-top: 20px;
}

.portfolio .portfolio-container .col-container .col h3 {
	font-family: "MontserratBold";
	font-size: 18px;
	color: #222;
}

.portfolio .portfolio-container .col-container .col p {
 	color: #777;
	font-family: "DroidSerifItalic";
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	line-height: 0.7;
}