
/* base */
.section {
	padding:120px 0;
	
}

.container {
	width: 940px;
	padding:0 10px;
	text-align: center;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	overflow: hidden;
	display: table;
	clear: both;
}

.title {
	font-size: 40px;
	text-transform: uppercase;
	color: #222;
}

.title-white {
	color: #fff;
	
}

.description {
	margin:19px 0 76px 0;
	color: #777;
	font-size: 17px;
	font-family: 'Droid Serif', serif;
	font-style: italic;
}

h2 {
    font-family: 'Montserrat', sans-serif;	
}
/* endd ofbase */

/* _______ style top  ______*/
.wrapper {
	position: absolute;
	/*left: 16%; */
	/*если оставить left: 16%; едет топ и сервис отделы*/
}

.top {
	height: 750px;
	background: url(../img/tint.png), url(../img/top_bg.png) 100% 100% no-repeat;
	background-size: cover;
 	color: #fff;
}
.top .clearfix {
	content: none;
}

.header {
    padding-top: 55px;
    padding-bottom: 212px;
}

.logo {
	width: 7%;
	float: left;
} 

.nav {
	width: 54%;
	float: right;
}	

.menu {
	height: 30px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 13px;
	font-family: "MontserratRegular";
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;	
    float: left;
}

.menu:hover {
	color: #fed136;
	border: 1px solid #fff;
	border-radius: 5px;
}

.welcome {
	clear: both;
	font-size: 40px;
	padding-bottom: 52px;
	font-family: "DroidSerifItalic";
	color:#fff;
	font-style: italic;
	
}

h1 {
	font-size: 75px;
	font-family: 'Montserrat', sans-serif;	
}

button {
	margin-top: 59px;
	/*margin-bottom: 160px;*/
	width: 240px;
	height: 65px;
	background-color: #fed136;
	border: 0px;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;	
	font-weight: 700;
	font-size: 18px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}
/* end of style top*/

/*services*/


.services {
	height: 518px;
}

h2 {
	margin-top: 40px;
	color: #222;
}

.col {
	width: 30.33%;
	margin: 0 1.5%;	
	float: left;
}

.circles {
	width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 4px solid #fed136;
    background: #fff;
    position: relative;
    margin: auto;
}

.circle-1 {
	margin: 0;
	position: absolute;
	top: 20%;
	right: 24%;
}

.circle-2 {
	margin: 0;
	position: absolute;
	top: 23%;
	right: 22%;
}

.circle-3 {
	margin: 0;
	position: absolute;
	top: 21%;
	right: 31%;
}

h3 {
	font-family: "MontserratBold";
	font-size: 18px;
	color: #222;
	margin-top: 25px;
	margin-bottom: 15px;
}

.txt {
 	color: #777;
	font-family: "RobotoSlabRegular";
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	line-height: 1.7;
}

/*end of services*/

/*our portfolio*/
.portfolio {
	background: #f7f7f7;
	background-size: contain;
	display: table;
	width: 100%;
	

}

.portfolio h2 {
	margin-top: 70px;
	color: #222;
	text-align: center;
}

.portfolio .col {
	width: 30.33%;
	margin: 0 1.5%;	
	float: left;
	margin: 14px;
}

.portfolio .img {
	width: 290px;
	height: 393px;
    position: relative;
    margin: auto;
   background-color: white;
}

.portfolio .img1 {
	z-index: 10;
}

.portfolio .img > div{
	margin-top: 75px;
}

.portfolio h3 {
	font-family: "MontserratBold";
	font-size: 18px;
	color: #222;
	margin-top: -50px;
	margin-bottom: 6px;

}

.portfolio .txt {
 	color: #777;
	font-family: "DroidSerifItalic";
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	line-height: 0.7;
}

/*our end of portfolio*/

/*about us*/
.about {
	background-color: #fff;
}

.cicle {
	width: 183px;
    height: 183px;
    border-radius: 50%;
    background: #f1f1f1;
    position: relative;
    margin: 0 auto 93px;
}

 .cicle-last {
 	border: 7px solid #f1f1f1;
 	background-color: #fed136;
 	width: 175px;
    height: 175px;
    margin-bottom: 0;
 }

.line {
	background-image: url(../pic/vertical-line.png);
	position: absolute;
    top: 100%;
    left: 90px;
    width: 3px;
    height: 93px;
    padding: 0;
    margin: 0;
}

.text {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 100%;
	padding: 0 39px 0 0;
	text-align: right;
	width: 305px;
}

.text-right {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 100%;
	padding: 0 0 0 39px;
	text-align: left;
	width: 305px;
}

.text-sub {
	width: 307px;
	color: #777;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	font-weight: 400; 
}

.text-main {
	color: #222;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 10px;
}

.cicle_img {
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
}

.cicle-text {
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	position: absolute;
	top: 28%;
	left: 20%;
	text-align: center;
}

.our_team {
	background-color: #f9f9f9;
}

.profile {
	display: inline-block;
}

.cicle-profile {
	border: 7px solid #fff;
 	background-color: #111;
 	width: 227px;
    height: 227px;
    background: #111;
    margin-bottom: 20px;
}

.text-sub_profile {
	font-size: 14px;
	margin-bottom: 14px;
}

.text-main_profile {
	font-size: 16px;
}

.profile {
	display: inline-block;
}

.cicle-social {
	width: 37px;
	height: 37px;
	background-color: #f9f9f9;
	border: 3px solid #222;
	margin: 0 5px 51px 5px;
	display: inline-block;
}

.twitter {
	background: url(../pic/twitter-black.png) center center no-repeat;
}

.facebook {
	background: url(../pic/facebook-black.png) center center no-repeat;
}

.pinterest {
	background: url(../pic/pinterest-black.png) center center no-repeat;
}

.google {
	background: url(../pic/google-black.png) center center no-repeat;
}

.text-team {
	font-size: 16px;
	display: block;
	width: 600px;
	padding: 0 170px;
}
/* end of about us*/

/* logo*/
.logos_team {
	height: 164px;
	margin: 0 -1.5%;
}

.logolist {
	width: 100%;
	padding: 0;
	padding-left: 0;
	display: block;
}

.logos {
	padding: 0;
	width: 22%;
	list-style: none;
	margin-top: 60px;
	margin-right: 1.5%;
	margin-left: 1.5%;
	float: left;
}
/* end of logo*/
/*contact us*/

.contact_us {
	background: url("../img/map_image.png") #222 no-repeat 100% 100%;
	background-size: contain;
	text-align: center;
	display: table;
	width: 100%;
}


 .header2 {
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

 .header3 {	
	color: #777;
	font-family: 'Droid Serif', serif;
	font-size: 16px;
	font-style: italic;
}


input {
	width: 98%;
	margin-right: 2%;
	padding: 4% 4%;
}

.input, textarea {
	display: inline-block;
	float: left;
	width: 50%;
}

textarea, input {
	margin-bottom: 2.9%;
    padding: 3.8% 4%;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	border-radius: 4px;
	height:100%;
}

.btn_msg {
	margin-top: -29px;
    width: 240px;
    height: 65px;
    background-color: #fed136;
    color: #FFF;
    border: 0px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.btn_msg:hover {
	color:rgba(182, 57, 135, 0.9);
-webkit-transition: color .6s;
	-o-transition: color .6s;
	transition: color .6s;
}
/* end of contact us*/

/* footer */
.footer {
	display: inline-block;
	overflow: hidden;
	width: 100%;
}

.wrap_cont {
	padding: 4% 0;
}

 .copyrights, 
 .soc_net {
	display: block;
	float: left;
}


.soc_net {
	overflow: hidden;
	float: left;
	width: 31%;
	margin-left: 5%;
	padding-top: 1%;
	padding-left: 5%;
	padding-bottom: 5%;
}

.fb, 
.gl, 
.pin, 
.tw {
	float: left;
	width: 50px;
    height: 50px;
    border-radius: 25px;
	background-repeat: no-repeat;
	margin-right: 7%;
	transition:All 1.3467s ease;
	-webkit-transition:All 1.3467s ease;
	-moz-transition:All 1.3467s ease;
	-o-transition:All 1.3467s ease;
	transform: rotate(0deg) scale(0.769);
	-webkit-transform: rotate(0deg) scale(0.769);
	-moz-transform: rotate(0deg) scale(0.769);
	-o-transform: rotate(0deg) scale(0.769);
	-ms-transform: rotate(0deg) scale(0.769);
	}

.fb:hover,
.gl:hover,
.pin:hover,
.tw:hover {
	transform: rotate(360deg) scale(1.226);
	-webkit-transform: rotate(360deg) scale(1.226);
	-moz-transform: rotate(360deg) scale(1.226);
	-o-transform: rotate(360deg) scale(1.226);
	-ms-transform: rotate(360deg) scale(1.226);
}
.fb {
	background-image: url(../img/icon/sprite_social.png);
	background-position: -49px 1px;
	background-repeat: no-repeat;
}
.gl {
	background-image: url(../img/icon/sprite_social.png);
	background-position: -146px 1px;
	background-repeat: no-repeat;
	}

.pin {
	background-image: url(../img/icon/sprite_social.png);
	background-position: -96px 1px;
	background-repeat: no-repeat;
	}

	.tw {
	background-image: url(../img/icon/sprite_social.png);
	background-position: 4px 1px;
	background-repeat: no-repeat;
	}

 footer p {
	padding-top: 6%;
	color: #555;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	}
	/* end of footer*/