.contact_us {
	background: url("../img/map_image.png") #222 no-repeat 50% 100%;
	background-size: contain;
	text-align: center;
	
}

.input {
	display: block;
}

.contact_us h2 {
	color: #fff;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

.contact_us h3 {	
	color: #777;
	font-family: 'Droid Serif', serif;
	font-size: 16px;
	font-style: italic;
}

.contact_us form {
	display: inline-block;
}


.contact_us .input, textarea {
	display: block;
	float: left;
	/*margin:14px;*/
	}

.contact_us textarea, input {
	margin: 12px;
	padding: 5px 2px ;
}

.contact_us button {
	/*border-radius: 2px;*/
	margin-top: 59px;
    margin-bottom: 160px;
    width: 240px;
    height: 65px;
    background-color: #fed136 ;
    border: 0px;
    border-radius: 5px;
    font-family: "MontserratBold";
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}