@media screen and (max-width: 768px) {
/*About us*/
	.cicle_about {
    	margin-left: 0 -91px 0 10%;
    }

    .cicle_about-left {
    	margin-right: 0 10% 0 -91px;
    }
	
	.text-sub {
		font-size: 16px;
	}

	.text-main {
		font-size: 17px;
	}

/*Our team*/
	.text-team {
	    padding: 0 13%;
    }

    .profile {
		margin: 0 9px;
	}

	.profile_all {
		margin: 0 -9px;
	}
}

@media screen and (max-width: 600px) {
/*About us*/
	.text-sub {
		font-size: 15px;
	}

	.text-main {
		font-size: 16px;
	}

/*Our team*/
	.profile {
		margin: 0 9px;
		width: 40%;
	}

	.profile_all {
		margin: 0 -9px;
	}
}

@media screen and (max-width: 480px) {
/*About us*/
	.about-content_item:not(:last-of-type) {
		width: 100%;
		padding-bottom: 20%;
	}

	.cicle_about::after {
		display: none;
	}

	.about-content_item-left {
		margin: 0;
	}

	.cicle_about, .cicle_about-left, .cicle_about-last {
	    margin: 0 10% 5% 0;
	    float: left;
	}

    .text, .text-right {
		text-align: left;
	}

	.text-sub {
		font-size: 13px;
	}

	.text-main {
		font-size: 15px;
	}

/*Our team*/
	.profile {
		margin: 0 4px;
		width: 80%;
	}

	.profile_all {
		margin: 0 -4px;
	}

	.text-team {
	    padding: 0 8%;
    }

    .cicle-profile {
	 	width: 60%;
	    height: 0;
	    padding-bottom: 60%;
	}
}

@media screen and (max-width: 320px) {
/*About us*/
	.cicle_about, .cicle_about-left, .cicle_about-last {
		float: none;
	    margin: 0 auto 10%;
	    text-align: center;
	}

	.about-content_item-left {
		margin: 0;
	}

	.about-content_item:not(:last-of-type) {
		width: 100%;
		padding-bottom: 20%;
	}

	.cicle_about::after {
		display: none;
	}

	.text, .text-right {
		text-align: center;
	}

	.text-sub {
		font-size: 12px;
	}

	.text-main {
		font-size: 14px;
	}

/*Our team*/
	.profile {
		margin: 0 4px;
		width: 90%;
	}

	.profile_all {
		margin: 0 -4px;
	}

	.text-team {
	    padding: 0 4%;
    }

    .cicle-profile {
	 	width: 80%;
	    height: 0;
	    padding-bottom: 80%;
	}
}