.logos_team {
	height: 164px;
	margin: 0 -1.5%;
}

.container {
	width: 940px;
	padding: 0 10px;
	text-align: center;
	position: absolute;
	left: 16%;
	margin: 0px auto;
}

.logolist {
	width: 100%;
	padding: 0;
	padding-left: 0;
	display: block;
}

.logos {
	padding: 0;
	width: 22%;
	list-style: none;
	margin-top: 60px;
	margin-right: 1.5%;
	margin-left: 1.5%;
	float: left;
}