
/*contact us*/

.contact_us {
	background: url("../img/map_image.png") #222 no-repeat 85% 100%;
	background-size: contain;
	text-align: center;
	display: table;
	width: 100%;
}


 .header2 {
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

 .header3 {	
	color: #777;
	font-family: 'Droid Serif', serif;
	font-size: 16px;
	font-style: italic;
}


input {
	width: 98%;
	margin-right: 2%;
	padding: 4% 4%;
}

.input, textarea {
	display: inline-block;
	float: left;
	width: 50%;
}

textarea, input {
	margin-bottom: 2.9%;
    padding: 4% 4%;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	border-radius: 4px;
	height:100%;
}

.btn_msg {
    width: 240px;
    height: 65px;
    background-color: #fed136;
    color: #FFF;
    border: 0px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.btn_msg:hover {
	color:rgba(182, 57, 135, 0.9);
-webkit-transition: color .6s;
	-o-transition: color .6s;
	transition: color .6s;
}
/* end of contact us*/

/* footer */
.footer {
	display: inline-block;
	overflow: hidden;
	width: 100%;
}

.wrap_cont {
	padding: 4% 0;
}

 .copyrights, 
 .soc_net {
	display: block;
	float: left;
}


.soc_net {
	overflow: hidden;
	float: left;
	width: 31%;
	margin-left: 5%;
	padding-top: 1%;
	padding-left: 5%;
	padding-bottom: 5%;
}

.fb, 
.gl, 
.pin, 
.tw {
	float: left;
	width: 50px;
    height: 50px;
    border-radius: 25px;
	background-repeat: no-repeat;
	margin-right: 7%;
	transition:All 1.3467s ease;
	-webkit-transition:All 1.3467s ease;
	-moz-transition:All 1.3467s ease;
	-o-transition:All 1.3467s ease;
	transform: rotate(0deg) scale(0.769);
	-webkit-transform: rotate(0deg) scale(0.769);
	-moz-transform: rotate(0deg) scale(0.769);
	-o-transform: rotate(0deg) scale(0.769);
	-ms-transform: rotate(0deg) scale(0.769);
	}

.fb:hover,
.gl:hover,
.pin:hover,
.tw:hover {
	transform: rotate(360deg) scale(1.226);
	-webkit-transform: rotate(360deg) scale(1.226);
	-moz-transform: rotate(360deg) scale(1.226);
	-o-transform: rotate(360deg) scale(1.226);
	-ms-transform: rotate(360deg) scale(1.226);
}
.fb {
	background-image: url(../img/icon/sprite_social.png);
	background-position: -49px 1px;
	background-repeat: no-repeat;
}
.gl {
	background-image: url(../img/icon/sprite_social.png);
	background-position: -146px 1px;
	background-repeat: no-repeat;
	}

.pin {
	background-image: url(../img/icon/sprite_social.png);
	background-position: -96px 1px;
	background-repeat: no-repeat;
	}

	.tw {
	background-image: url(../img/icon/sprite_social.png);
	background-position: 4px 1px;
	background-repeat: no-repeat;
	}

 p {
	padding-top: 6%;
	color: #555;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	}