.contact_us {
	background: url("../img/map_image.png") #222 no-repeat 50% 100%;
	background-size: contain;
	text-align: center;
	
}

.input {
	display: block;
}

 h2 {
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

 .h3 {	
	color: #777;
	font-family: 'Droid Serif', serif;
	font-size: 16px;
	font-style: italic;
}

  .contact_form {
	display: inline-block;
	width: 100%;
	
}
.contact_form input{
	width: 98%;
	margin-right: 2%;
	/*height:100%;*/
}

.contact_form .input, textarea {
	display: block;
	float: left;
	width: 50%;
}

.contact_form textarea, input {
	margin-bottom: 2.9%;
    padding: 4% 4%;
	font-size: 14px;
	/*font-weight: 700;*/
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	border-radius: 4px;
	height:100%;

	
}

button {
    width: 240px;
    height: 65px;
    background-color: #fed136 ;
    border: 0px;
    border-radius: 5px;
    font-family: "MontserratBold";
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer
}

/*1400 676*/
/*width message 456*/