.portfolio {
	background: #f7f7f7;
	background-size: contain;
	display: table;
	width: 100%;
	max-width:100%;
}

h2 {
/*	margin-top: 70px;
*/	color: #222;
	text-align: center;
}

.col {
	width: 29.33%;
    background-color: white;
    text-align: center;
    margin: 0 2% 50px;
    float: left;
}

.img {
	width: 290px;
	height: 393px;
    position: relative;
    margin: auto;
   background-color: white;
}

.img1 {
	z-index: 10;
}

.img > div{
	width: 100%;
}

h3 {
	font-family: "Montserrat";
	font-size: 18px;
	color: #222;
	margin-top: 0 auto;
	margin-bottom: 6px;

}

.text_sub {
 	color: #737373;
	font-family: 'Droid Serif', serif;
	font-size: 14px;
	font-style: italic;
	margin: 0;
	padding-bottom: 28px;
}